* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div.products {
  width: 100%;
}
@font-face {
  font-family: my-api;
  src: url(../fonts/Oswald-Regular.eot);
  src: url(../fonts/Oswald-Regular.woff);
  src: url(../fonts/Oswald-Regular.ttf);
  src: url(../fonts/Oswald-Regular.woff2);
}
:root {
  --font: my-api;
}
